<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= yield_content(:title) %></title>

  <!-- The javascript and css are managed by sprockets. The files can be found in the /assets folder-->
  <script type="text/javascript" src="/assets/application.js"></script>
  <script src="https://d26b395fwzu5fz.cloudfront.net/latest/keen.min.js"></script>

  <link rel="stylesheet" href="/assets/application.css">

  <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="icon" href="/assets/favicon.ico">

</head>
  <body>
    <div id="container">
      <%= yield %>
    </div>
  <script type="text/javascript">
var client = new Keen({
  projectId: "544db74433e4061c57579de5",
  readKey: "b1e2a66c5398880e752bd40808f2c8b2463a62883413b48bf640644d2e79143dc34fea6a6841e534d0e16a091c029e177cd5cac0c00690c6d9345ce2d6220a9387b664d6346d66ef0513e09579c307effc5a7b95632d9992506c0a6b8ecdd89acf60e412b8aab8a3e987aae3d2e5c41b"
});
Keen.ready(function(){
  var query = new Keen.Query("average", {
    eventCollection: "Zencloud",
    timeframe: "this_week",
    targetProperty: "current",
    interval: "daily",
    groupBy: "btc_addr"
  });
  client.draw(query, document.getElementById("mychart"), {
    // Custom configuration here
      colors: [ "#ff0000", "#222", "lightblue" ], //
      title: "",        // string or null
      width: 340,       // integer or "auto"
        chartOptions: {
            isStacked: true,
      }
  });
});
  
</script>
<ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div id="mychart"></div>

    </li>
</ul>    
    <% if development? %>
      <div id="saving-instructions">
        <p>Paste the following at the top of <i><%= params[:dashboard] %>.erb</i></p>
        <textarea id="gridster-code"></textarea>
      </div>
      <a href="#saving-instructions" id="save-gridster">Save this layout</a>
    <% end %>
  </body>
</html>